body {
  margin: 0;
  font-family: Arial;
}

.dark {
  background: #000;
  color: #fff;
}

.light {
  background: #fff;
  color: #000;
}

.topbar {
  display: flex;
  gap: 10px;
  padding: 10px;
}

#map-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.point {
  width: 14px;
  height: 14px;
  position: absolute;
  background: red;
  border-radius: 3px;
  touch-action: none;
  z-index: 10;
}

.smoke { background: gray; }
.flash { background: yellow; }
.molly { background: orange; }

#grid {
  position: absolute;
  inset: 0;
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, rgba(255,255,255,.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,.1) 1px, transparent 1px);
  pointer-events: none;
  z-index: 1;
}
