*{margin:0;padding:0;box-sizing:border-box}

body{
font-family:Arial;
background:#111;
color:#fff;
text-align:center;
}

#topBar{
background:#ffcc00;
color:black;
padding:10px;
cursor:pointer;
}

.map{
position:relative;
width:90vw;
max-width:900px;
margin:auto;
}

.map img{
width:100%;
border-radius:12px;
}

.point{
position:absolute;
width:14px;
height:14px;
background:red;
border-radius:50%;
animation:pulse 1.6s infinite alternate;
cursor:pointer;
box-shadow:0 0 8px red;
}

@keyframes pulse{
from{transform:scale(1)}
to{transform:scale(1.4)}
}

#popup{
display:none;
position:fixed;
top:50%;left:50%;
transform:translate(-50%,-50%);
background:#1a1a1a;
padding:15px;
border-radius:10px;
}

#close{
position:absolute;
top:6px;
right:10px;
cursor:pointer;
}